# Docker compose environment variables
DOCKER_HUB_USERNAME=${DOCKER_HUB_USERNAME}
RDS_ENDPOINT=${RDS_ENDPOINT}
RDS_PORT=${RDS_PORT}
RDS_DB_NAME=${RDS_DB_NAME}
RDS_USERNAME=${RDS_USERNAME}
RDS_PASSWORD=${RDS_PASSWORD}


# Database configuration
POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
POSTGRES_PORT=${POSTGRES_PORT}
POSTGRES_DB_NAME=${POSTGRES_DB_NAME}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

# JWT configuration
JWT_SECRET=${JWT_SECRET}
JWT_EXPIRATION=${JWT_EXPIRATION}
JWT_REFRESH_EXPIRATION=${JWT_REFRESH_EXPIRATION}

# Open AI API
OPENAI_API_BASE_URL=${OPENAI_API_BASE_URL}
OPENAI_API_KEY=${OPENAI_API_KEY}

# AWS S3 configuration
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
AWS_REGION=${AWS_REGION}
AWS_S3_BUCKET_NAME=${AWS_S3_BUCKET_NAME}

# Gemini 2.5 Flash Image API configuration (Nano Banana)
GEMINI_API_KEY=${GEMINI_API_KEY}
GEMINI_API_BASE_URL=${GEMINI_API_BASE_URL}

# Google Logging configuration
GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}